.card-number-theme {
    font-size: 60px;
    text-align: center;
}

.card-txt-center{
    text-align: center;
}

.card-link-theme{
    color: #4f4f4f;
}

.red-ico {
    color: #e74c3c;
  }

.orange-ico {
    color: #f1c40f;
}

.green-ico {
    color: #27ae60;
}

/* Estilos para telas pequenas (como smartphones) */
@media (max-width: 768px) {
b {
    font-size: 13px;
}
h1{
    font-size: 20px;
}
.card-number-theme {
    font-size: 30px;
    text-align: center;
}
  }
  
  /* Estilos para telas muito pequenas (como smartphones em modo retrato) */
  @media (max-width: 480px) {

    .card-number-theme {
        font-size: 40px;
        text-align: center;
    }

  }