@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-primary: #FEFEFE;
    --color-bg-secondary: #028C8C;
    --color-bg-tertiary: #E1EBF0;
    --color-bg-quaternary: #4F4F4F;
    --color-bg-quintial: #52617509;

  
    --color-font-primary: #000000;
    --color-font-secondary: #4F4F4F;
    --color-font-tertiary: #FFFFFF;
    
    
  }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.logo{
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--color-font-secondary);
}

body, html{
    transition: opacity 0.9s ease-in-out;
}

.wrapper {
    display: flex;
}

.navbar-horizontal{
    width: 100%;
    padding: 15px;
}

.navbar-horizontal a{
    color: var(--color-font-secondary);
}

.navbar-horizontal a:hover{
    color: var(--color-bg-secondary);   
    transition: all 0.35s ease-in-out; 
}

.navbar-horizontal-primary {
    background: var(--color-bg-secondary);
    color: var(--color-font-tertiary);    
}

.navbar-horizontal-secondary {
    background: var(--color-bg-primary);
    box-shadow: 0px 0px 8px #52617515;    
    border-bottom: solid 1px var(--color-bg-quintial);
    border-radius: 0 0 8px 8px;
}

.container{
    background: var(--color-bg-primary);
    width: 100%; 
    border-top: 8px solid var(--color-bg-secondary);   
      
    box-shadow: 0px 0px 8px #52617515;
    border-radius: 8px;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--color-bg-tertiary);
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #52617515;
    border-right: solid 1px var(--color-bg-quintial);
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: var(--color-bg-quaternary)
}

.sidebar-logo {
    margin: 40px 15px;
}

.sidebar-logo a {
    color: var(--color-bg-secondary);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--color-font-secondary);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 5px solid var(--color-bg-quaternary);
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: var(--color-bg-tertiary);
    border-left: 5px solid var(--color-bg-secondary);
    transition-duration: 700ms;
}

.sidebar-link-active {
    background-color: var(--color-bg-tertiary);
    border-left: 5px solid var(--color-bg-secondary) !important;
    transition-duration: 700ms;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.btn-theme{
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
}

.btn-theme:hover{
    background-color: #00a3a3;
    color: var(--color-bg-primary);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #028c8c;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(2 140 140 / 8%);
}